WEBUI_NAME="Private Chatbot Home"
WEBUI_ADMIN_EMAIL="admin@local"
WEBUI_ADMIN_PASSWORD="CHANGEME"
WEBUI_SECRET_KEY="1234567890"
OPENAI_API_KEY=""
PGVECTOR_PASSWORD="CHANGEME"
ALLOWED_ORIGINS=https://localhost,https://127.0.0.1
